* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.header {
    width: 100%;
    background: #2fa0f1;
    height: 80px;
    margin-bottom: 20px;
}

.header h1 {
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
    padding: 20px 0 0 0;
    text-align: center;
}

.wrapper {
    width: 80%;
    height: calc(100vh - 80px - 20px);
    margin: 0 auto;
}

.wrapper .main .nav{
    margin-bottom: 20px;
}

.wrapper .main .nav .search-car {
    margin-left: 10px;
    padding: 4px 8px;
}

.wrapper .main .nav .add-car {
    padding: 4px 8px;
    background: #2fa0f1;
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.wrapper .main .nav .add-car:active {
    background: #267eb9;
}

.wrapper .main .nav .dataType {
    padding: 4px 8px;
    width: 100px;
    margin-left: 7px;
}

.wrapper .main .form-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: none;
}

.wrapper .main .form-container.active {
    display: flex;
}

.wrapper .main .form-container .form-car {
    width: 500px;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 7px;
}

.wrapper .main .form-container .form-car .form-title {
    text-align: center;
}

.wrapper .main .form-container .form-car .btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper .main .form-container .form-car select {
    padding: 4px;
    border-radius: 5px;
}

.wrapper .main .form-container .form-car * {
    margin: 5px;
    width: 98%;
}

.wrapper .main .form-container .form-car input[type='submit'] {
    color: white;
    padding: 4px 10px;
    min-width: 100px;
    border-radius: 5px;
    border: none;
}

.wrapper .main .form-container .form-car input[value='add'] {
    background: #2fa0f1;
}

.wrapper .main .form-container .form-car input[value='add']:active {
    background: #1492f3;
}

.wrapper .main .form-container .form-car input[value='update'] {
    background: #ffbb1c;
}

.wrapper .main .form-container .form-car input[value='update']:active {
    background: #e8a000;
}

.wrapper .main .form-container .form-car input[value='cancel'] {
    background: #ff0000;
}

.wrapper .main .form-container .form-car input[value='cancel']:active {
    background: #b60000;
}

.wrapper .main .cards-container {
    display: flex;
    flex-wrap: wrap;
}

.wrapper .main .cards-container .card {
    margin: 10px;
    padding: 10px;
    min-width: 200px;
    height: 340px;
    border-radius: 10px;
    background: #eee;
    position: relative;
    font-size: 16px;
}

.wrapper .main .cards-container .card .card-img-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 180px;
    margin-bottom: 10px;
}

.wrapper .main .cards-container .card .card-img-container img {
    width: 200px;
    border-radius: 7px;
}

.wrapper .main .cards-container .card .card-title {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 10px;
}

.wrapper .main .cards-container .card .card-form-container {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 20px;
}

.wrapper .main .cards-container .card .card-form-container > * {
    margin: 5px;
    letter-spacing: 1px;
}

.wrapper .main .cards-container .card .card-form-container .edit-form {
    color: white;
    background: #aaa;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.wrapper .main .cards-container .card .card-form-container .edit-form:active {
    background: #00a600;
}

.wrapper .main .cards-container .card .card-form-container input[value=delete] {
    color: white;
    background: #aaa;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.wrapper .main .cards-container .card .card-form-container input[value=delete]:active {
    background: #a90000;
}